
// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,900|Material+Icons');

@import '~vuetify/dist/vuetify.min.css';

@import '~simplemde/dist/simplemde.min.css';

#app {
  font-family: 'Raleway', sans-serif;
}

#app a {
  color: #000;
  text-decoration: none;
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

